<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_22a34d673d58a135a2a1ced22ca5a967 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_22a34d673d58a135a2a1ced22ca5a967" ></div>
        
</body>
<script>    
    
            var map_22a34d673d58a135a2a1ced22ca5a967 = L.map(
                "map_22a34d673d58a135a2a1ced22ca5a967",
                {
                    center: [56.02485, 29.92637],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9e7ceabd338cdb40a1ffa3b4b2af4791 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
            var marker_7d5f17f43777f47fe8258a8786294851 = L.marker(
                [56.01682323, 29.92427797],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_e686d3f714d0d1349a3557ab286170ae = L.popup({"maxWidth": "100%"});

        
            var html_fb1b48d981af1248803f877b912c4b68 = $(`<div id="html_fb1b48d981af1248803f877b912c4b68" style="width: 100.0%; height: 100.0%;"><stong>08101987</stong></div>`)[0];
            popup_e686d3f714d0d1349a3557ab286170ae.setContent(html_fb1b48d981af1248803f877b912c4b68);
        

        marker_7d5f17f43777f47fe8258a8786294851.bindPopup(popup_e686d3f714d0d1349a3557ab286170ae)
        ;

        
    
    
            marker_7d5f17f43777f47fe8258a8786294851.bindTooltip(
                `<div>
                     Nezumi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f528b76dea246e067f6a652b89c8fe5 = L.marker(
                [56.017014, 29.92196982],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_9d0aa1264c13f0beab5cbaffc20aa4c6 = L.popup({"maxWidth": "100%"});

        
            var html_57abe533a5cc87ff1217d0ae0633386c = $(`<div id="html_57abe533a5cc87ff1217d0ae0633386c" style="width: 100.0%; height: 100.0%;"><stong>anna1994</stong></div>`)[0];
            popup_9d0aa1264c13f0beab5cbaffc20aa4c6.setContent(html_57abe533a5cc87ff1217d0ae0633386c);
        

        marker_1f528b76dea246e067f6a652b89c8fe5.bindPopup(popup_9d0aa1264c13f0beab5cbaffc20aa4c6)
        ;

        
    
    
            marker_1f528b76dea246e067f6a652b89c8fe5.bindTooltip(
                `<div>
                     Galaxy A712310
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b69551cc1fba4b51bf433a62eb220d11 = L.marker(
                [56.01642915, 29.92357184],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_8cde939f7ab7df37c0aaba2ae095d315 = L.popup({"maxWidth": "100%"});

        
            var html_8d3505a810225e0d54f11e82ba8b17f0 = $(`<div id="html_8d3505a810225e0d54f11e82ba8b17f0" style="width: 100.0%; height: 100.0%;"><stong>08101987</stong></div>`)[0];
            popup_8cde939f7ab7df37c0aaba2ae095d315.setContent(html_8d3505a810225e0d54f11e82ba8b17f0);
        

        marker_b69551cc1fba4b51bf433a62eb220d11.bindPopup(popup_8cde939f7ab7df37c0aaba2ae095d315)
        ;

        
    
    
            marker_b69551cc1fba4b51bf433a62eb220d11.bindTooltip(
                `<div>
                     Nezumi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7631f9abeaa4448487c4dead94967be4 = L.marker(
                [56.01631387, 29.92687058],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_ec5f381cb7aa4446924eca97182fd5bd = L.popup({"maxWidth": "100%"});

        
            var html_d46424527741e4003c8c7f6002ab19b8 = $(`<div id="html_d46424527741e4003c8c7f6002ab19b8" style="width: 100.0%; height: 100.0%;"><stong>123456789</stong></div>`)[0];
            popup_ec5f381cb7aa4446924eca97182fd5bd.setContent(html_d46424527741e4003c8c7f6002ab19b8);
        

        marker_7631f9abeaa4448487c4dead94967be4.bindPopup(popup_ec5f381cb7aa4446924eca97182fd5bd)
        ;

        
    
    
            marker_7631f9abeaa4448487c4dead94967be4.bindTooltip(
                `<div>
                     HONOR 50 Lite
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cff2270203f278ffeff49091c3329def = L.marker(
                [56.01728363, 29.9192183],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_2c47b23671876bdf64f09db1e9134bd2 = L.popup({"maxWidth": "100%"});

        
            var html_e321ce4a1e89d6f8498d4a7a2022851d = $(`<div id="html_e321ce4a1e89d6f8498d4a7a2022851d" style="width: 100.0%; height: 100.0%;"><stong>15096333</stong></div>`)[0];
            popup_2c47b23671876bdf64f09db1e9134bd2.setContent(html_e321ce4a1e89d6f8498d4a7a2022851d);
        

        marker_cff2270203f278ffeff49091c3329def.bindPopup(popup_2c47b23671876bdf64f09db1e9134bd2)
        ;

        
    
    
            marker_cff2270203f278ffeff49091c3329def.bindTooltip(
                `<div>
                     TP-LINK_F24E67
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b36d07021f6f96ecdbd4cad1b2664a2c = L.marker(
                [56.01582785, 29.92321504],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_80e0d4a952565554a01bcaaa1c08a5b4 = L.popup({"maxWidth": "100%"});

        
            var html_ae9a5d08971fdab2f51c88c74ba40a53 = $(`<div id="html_ae9a5d08971fdab2f51c88c74ba40a53" style="width: 100.0%; height: 100.0%;"><stong>00340359</stong></div>`)[0];
            popup_80e0d4a952565554a01bcaaa1c08a5b4.setContent(html_ae9a5d08971fdab2f51c88c74ba40a53);
        

        marker_b36d07021f6f96ecdbd4cad1b2664a2c.bindPopup(popup_80e0d4a952565554a01bcaaa1c08a5b4)
        ;

        
    
    
            marker_b36d07021f6f96ecdbd4cad1b2664a2c.bindTooltip(
                `<div>
                     TP-Link_6D02
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2160cab74d482b1408e0218e21f2e90f = L.marker(
                [56.01966458, 29.91998559],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_c0474144a9e304bbcddeae956b04cbc5 = L.popup({"maxWidth": "100%"});

        
            var html_104830d564bbc2149a36f52d2c98e5fe = $(`<div id="html_104830d564bbc2149a36f52d2c98e5fe" style="width: 100.0%; height: 100.0%;"><stong>kris2003</stong></div>`)[0];
            popup_c0474144a9e304bbcddeae956b04cbc5.setContent(html_104830d564bbc2149a36f52d2c98e5fe);
        

        marker_2160cab74d482b1408e0218e21f2e90f.bindPopup(popup_c0474144a9e304bbcddeae956b04cbc5)
        ;

        
    
    
            marker_2160cab74d482b1408e0218e21f2e90f.bindTooltip(
                `<div>
                     DSL-2750U
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e6ce8faefceefc3af6a5799a9caeca3 = L.marker(
                [56.01734221, 29.93413892],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_88d1262ca98d7747c578d54bf14e0a70 = L.popup({"maxWidth": "100%"});

        
            var html_13720e4a217512c34956eeb0b933df48 = $(`<div id="html_13720e4a217512c34956eeb0b933df48" style="width: 100.0%; height: 100.0%;"><stong>19942001</stong></div>`)[0];
            popup_88d1262ca98d7747c578d54bf14e0a70.setContent(html_13720e4a217512c34956eeb0b933df48);
        

        marker_4e6ce8faefceefc3af6a5799a9caeca3.bindPopup(popup_88d1262ca98d7747c578d54bf14e0a70)
        ;

        
    
    
            marker_4e6ce8faefceefc3af6a5799a9caeca3.bindTooltip(
                `<div>
                     My set
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_67f35f3dfb880f746b99f1f91ea1bd21 = L.marker(
                [56.01377029, 29.93461887],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_4bdfbfb9984b031c4d299cc2af4f0fb1 = L.popup({"maxWidth": "100%"});

        
            var html_2606cb07b068c7d3d1d412697a2c31f5 = $(`<div id="html_2606cb07b068c7d3d1d412697a2c31f5" style="width: 100.0%; height: 100.0%;"><stong>18173000</stong></div>`)[0];
            popup_4bdfbfb9984b031c4d299cc2af4f0fb1.setContent(html_2606cb07b068c7d3d1d412697a2c31f5);
        

        marker_67f35f3dfb880f746b99f1f91ea1bd21.bindPopup(popup_4bdfbfb9984b031c4d299cc2af4f0fb1)
        ;

        
    
    
            marker_67f35f3dfb880f746b99f1f91ea1bd21.bindTooltip(
                `<div>
                     TP-LINK_0879F4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9510fe6febbc2638ee88b6072c38073e = L.marker(
                [56.01422599, 29.92792446],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_449a83bb1ed7fda509367cf73b5aadc3 = L.popup({"maxWidth": "100%"});

        
            var html_3cfbc9ecb857cfd484366e19878eb8ba = $(`<div id="html_3cfbc9ecb857cfd484366e19878eb8ba" style="width: 100.0%; height: 100.0%;"><stong>05122012</stong></div>`)[0];
            popup_449a83bb1ed7fda509367cf73b5aadc3.setContent(html_3cfbc9ecb857cfd484366e19878eb8ba);
        

        marker_9510fe6febbc2638ee88b6072c38073e.bindPopup(popup_449a83bb1ed7fda509367cf73b5aadc3)
        ;

        
    
    
            marker_9510fe6febbc2638ee88b6072c38073e.bindTooltip(
                `<div>
                     TP-LINK_86EF16
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_20e1d8bc7107fd05a50cd8cea917f02a = L.marker(
                [56.01945071, 29.92608337],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_85411a9317645fe205f9a726a8b24968 = L.popup({"maxWidth": "100%"});

        
            var html_f2e719ec11b5a843dd2222a41dea5f1e = $(`<div id="html_f2e719ec11b5a843dd2222a41dea5f1e" style="width: 100.0%; height: 100.0%;"><stong>10333808</stong></div>`)[0];
            popup_85411a9317645fe205f9a726a8b24968.setContent(html_f2e719ec11b5a843dd2222a41dea5f1e);
        

        marker_20e1d8bc7107fd05a50cd8cea917f02a.bindPopup(popup_85411a9317645fe205f9a726a8b24968)
        ;

        
    
    
            marker_20e1d8bc7107fd05a50cd8cea917f02a.bindTooltip(
                `<div>
                     TP-LINK_E725EA
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a77ea9690596648a143431ffbc445cb = L.marker(
                [55.5894672, 38.21022655],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_d573822103acdd1dd65268f346bb03ed = L.popup({"maxWidth": "100%"});

        
            var html_49b576535b138218a9ca4c52bc20f2fe = $(`<div id="html_49b576535b138218a9ca4c52bc20f2fe" style="width: 100.0%; height: 100.0%;"><stong>14091912</stong></div>`)[0];
            popup_d573822103acdd1dd65268f346bb03ed.setContent(html_49b576535b138218a9ca4c52bc20f2fe);
        

        marker_7a77ea9690596648a143431ffbc445cb.bindPopup(popup_d573822103acdd1dd65268f346bb03ed)
        ;

        
    
    
            marker_7a77ea9690596648a143431ffbc445cb.bindTooltip(
                `<div>
                     BeeR
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c0d94d2b2d2b8df91411df07d5851a8 = L.marker(
                [56.01707594, 29.92222139],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_8a0e325e9c03a0c0b5adbabeda2128e8 = L.popup({"maxWidth": "100%"});

        
            var html_252791caca6e47052bac614696878811 = $(`<div id="html_252791caca6e47052bac614696878811" style="width: 100.0%; height: 100.0%;"><stong>21749568</stong></div>`)[0];
            popup_8a0e325e9c03a0c0b5adbabeda2128e8.setContent(html_252791caca6e47052bac614696878811);
        

        marker_3c0d94d2b2d2b8df91411df07d5851a8.bindPopup(popup_8a0e325e9c03a0c0b5adbabeda2128e8)
        ;

        
    
    
            marker_3c0d94d2b2d2b8df91411df07d5851a8.bindTooltip(
                `<div>
                     TP-LINK_B2D6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d975a1b7996585951a7192b4fc852e7 = L.marker(
                [56.01697426, 29.92341075],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_32fa951f155764038d930c445de15d85 = L.popup({"maxWidth": "100%"});

        
            var html_c5c7d4696c74a8037773bb0464d9e560 = $(`<div id="html_c5c7d4696c74a8037773bb0464d9e560" style="width: 100.0%; height: 100.0%;"><stong>25061999</stong></div>`)[0];
            popup_32fa951f155764038d930c445de15d85.setContent(html_c5c7d4696c74a8037773bb0464d9e560);
        

        marker_7d975a1b7996585951a7192b4fc852e7.bindPopup(popup_32fa951f155764038d930c445de15d85)
        ;

        
    
    
            marker_7d975a1b7996585951a7192b4fc852e7.bindTooltip(
                `<div>
                     Dead_Maus O_o
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4db095571cbcb9bfaeaaebf09f93afdd = L.marker(
                [56.02033558, 29.92971149],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_4596929ac167b4aa612c878074423f7c = L.popup({"maxWidth": "100%"});

        
            var html_0bd8d0431824b39a2e7726aaeb556993 = $(`<div id="html_0bd8d0431824b39a2e7726aaeb556993" style="width: 100.0%; height: 100.0%;"><stong>1234567890</stong></div>`)[0];
            popup_4596929ac167b4aa612c878074423f7c.setContent(html_0bd8d0431824b39a2e7726aaeb556993);
        

        marker_4db095571cbcb9bfaeaaebf09f93afdd.bindPopup(popup_4596929ac167b4aa612c878074423f7c)
        ;

        
    
    
            marker_4db095571cbcb9bfaeaaebf09f93afdd.bindTooltip(
                `<div>
                     DSL_2640NRU
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9ca99b2323b211e356a47e0461c7916 = L.marker(
                [55.58917729, 38.20998048],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_74d1ce37bb7aa6f80e950b344af969dc = L.popup({"maxWidth": "100%"});

        
            var html_51cb3762b0be059dd348026a42ef3847 = $(`<div id="html_51cb3762b0be059dd348026a42ef3847" style="width: 100.0%; height: 100.0%;"><stong>19451804</stong></div>`)[0];
            popup_74d1ce37bb7aa6f80e950b344af969dc.setContent(html_51cb3762b0be059dd348026a42ef3847);
        

        marker_e9ca99b2323b211e356a47e0461c7916.bindPopup(popup_74d1ce37bb7aa6f80e950b344af969dc)
        ;

        
    
    
            marker_e9ca99b2323b211e356a47e0461c7916.bindTooltip(
                `<div>
                     Nikonowa
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0b51d0537639d2a7d0ed16cdb14c6132 = L.marker(
                [56.01595495, 29.92598918],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_951e25e043db805c413cd6d162e185ab = L.popup({"maxWidth": "100%"});

        
            var html_688ffd5ac8b3b96fa79ee2a4423a2f46 = $(`<div id="html_688ffd5ac8b3b96fa79ee2a4423a2f46" style="width: 100.0%; height: 100.0%;"><stong>56865686</stong></div>`)[0];
            popup_951e25e043db805c413cd6d162e185ab.setContent(html_688ffd5ac8b3b96fa79ee2a4423a2f46);
        

        marker_0b51d0537639d2a7d0ed16cdb14c6132.bindPopup(popup_951e25e043db805c413cd6d162e185ab)
        ;

        
    
    
            marker_0b51d0537639d2a7d0ed16cdb14c6132.bindTooltip(
                `<div>
                     ZyXEL_KEENETIC_981CC6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0925c0725d4817bae4aaf33e9f5d4ac3 = L.marker(
                [56.01590708, 29.92953816],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_44417f3c56d2f3da5340736f7e97d7eb = L.popup({"maxWidth": "100%"});

        
            var html_a109aee3326fd87ce61f89531ec65a9d = $(`<div id="html_a109aee3326fd87ce61f89531ec65a9d" style="width: 100.0%; height: 100.0%;"><stong>19940207</stong></div>`)[0];
            popup_44417f3c56d2f3da5340736f7e97d7eb.setContent(html_a109aee3326fd87ce61f89531ec65a9d);
        

        marker_0925c0725d4817bae4aaf33e9f5d4ac3.bindPopup(popup_44417f3c56d2f3da5340736f7e97d7eb)
        ;

        
    
    
            marker_0925c0725d4817bae4aaf33e9f5d4ac3.bindTooltip(
                `<div>
                     TP-LINK_0D76
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6e1faa8c80062840cef8b4ae2e9d8dc = L.marker(
                [56.01879919, 29.92294479],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_19a0a99550c71bf223649b545db0a439 = L.popup({"maxWidth": "100%"});

        
            var html_8a1d8e399104d79d6d185eae10b2dd2a = $(`<div id="html_8a1d8e399104d79d6d185eae10b2dd2a" style="width: 100.0%; height: 100.0%;"><stong>21041947</stong></div>`)[0];
            popup_19a0a99550c71bf223649b545db0a439.setContent(html_8a1d8e399104d79d6d185eae10b2dd2a);
        

        marker_c6e1faa8c80062840cef8b4ae2e9d8dc.bindPopup(popup_19a0a99550c71bf223649b545db0a439)
        ;

        
    
    
            marker_c6e1faa8c80062840cef8b4ae2e9d8dc.bindTooltip(
                `<div>
                     TP-Link_6CB6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3912116e13e042e4c9da48cc23f4603d = L.marker(
                [56.01986063, 29.92772583],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_a21cd3443664172fba8427005d1ba772 = L.popup({"maxWidth": "100%"});

        
            var html_224715fdf9d5b3450cc96130b380bf88 = $(`<div id="html_224715fdf9d5b3450cc96130b380bf88" style="width: 100.0%; height: 100.0%;"><stong>12271967</stong></div>`)[0];
            popup_a21cd3443664172fba8427005d1ba772.setContent(html_224715fdf9d5b3450cc96130b380bf88);
        

        marker_3912116e13e042e4c9da48cc23f4603d.bindPopup(popup_a21cd3443664172fba8427005d1ba772)
        ;

        
    
    
            marker_3912116e13e042e4c9da48cc23f4603d.bindTooltip(
                `<div>
                     Dasha
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4a69803b7f8c625819d34dc6d2a5857 = L.marker(
                [56.01936787, 29.92547806],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_0bac475b58759ae800bc4f3d7c580ac5 = L.popup({"maxWidth": "100%"});

        
            var html_3fd62353ee2d73814912745589542967 = $(`<div id="html_3fd62353ee2d73814912745589542967" style="width: 100.0%; height: 100.0%;"><stong>20098483</stong></div>`)[0];
            popup_0bac475b58759ae800bc4f3d7c580ac5.setContent(html_3fd62353ee2d73814912745589542967);
        

        marker_a4a69803b7f8c625819d34dc6d2a5857.bindPopup(popup_0bac475b58759ae800bc4f3d7c580ac5)
        ;

        
    
    
            marker_a4a69803b7f8c625819d34dc6d2a5857.bindTooltip(
                `<div>
                     TP-Link_C60C
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bb63837e49b808c1d01dfc1703f3defa = L.marker(
                [56.01511908, 29.93054084],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_b6934dee51723a5fda5ff5095256efc8 = L.popup({"maxWidth": "100%"});

        
            var html_46694920bdeb6d571e8cec75046653c3 = $(`<div id="html_46694920bdeb6d571e8cec75046653c3" style="width: 100.0%; height: 100.0%;"><stong>1qazxsw2</stong></div>`)[0];
            popup_b6934dee51723a5fda5ff5095256efc8.setContent(html_46694920bdeb6d571e8cec75046653c3);
        

        marker_bb63837e49b808c1d01dfc1703f3defa.bindPopup(popup_b6934dee51723a5fda5ff5095256efc8)
        ;

        
    
    
            marker_bb63837e49b808c1d01dfc1703f3defa.bindTooltip(
                `<div>
                     MikroTik-ECE0D7
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bd3c50501fd7660c5f14649015720803 = L.marker(
                [56.02063446, 29.9325097],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_bbd2bd1e16fbe9e61be7238c69238023 = L.popup({"maxWidth": "100%"});

        
            var html_a8a609c9055c00d6d78be5d7b75f72a3 = $(`<div id="html_a8a609c9055c00d6d78be5d7b75f72a3" style="width: 100.0%; height: 100.0%;"><stong>01646619</stong></div>`)[0];
            popup_bbd2bd1e16fbe9e61be7238c69238023.setContent(html_a8a609c9055c00d6d78be5d7b75f72a3);
        

        marker_bd3c50501fd7660c5f14649015720803.bindPopup(popup_bbd2bd1e16fbe9e61be7238c69238023)
        ;

        
    
    
            marker_bd3c50501fd7660c5f14649015720803.bindTooltip(
                `<div>
                     MegaFon B683-4F70
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b1614ec25f0c179d87a791699bb5640 = L.marker(
                [56.0156489, 29.92601149],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_33873fa40e72c5a2437774c368c98a41 = L.popup({"maxWidth": "100%"});

        
            var html_14f0a82da23c4c3b09981072f2c6a7fc = $(`<div id="html_14f0a82da23c4c3b09981072f2c6a7fc" style="width: 100.0%; height: 100.0%;"><stong>12361632</stong></div>`)[0];
            popup_33873fa40e72c5a2437774c368c98a41.setContent(html_14f0a82da23c4c3b09981072f2c6a7fc);
        

        marker_9b1614ec25f0c179d87a791699bb5640.bindPopup(popup_33873fa40e72c5a2437774c368c98a41)
        ;

        
    
    
            marker_9b1614ec25f0c179d87a791699bb5640.bindTooltip(
                `<div>
                     TP-LINK_0BAA
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c8262e5f23cd5e1bf9ed715dd365d1e = L.marker(
                [56.0172801, 29.92725015],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_6fb83d0619edbfcd5a6cb0d529bded9c = L.popup({"maxWidth": "100%"});

        
            var html_fe244bb111132e57723b18b5ee2feeba = $(`<div id="html_fe244bb111132e57723b18b5ee2feeba" style="width: 100.0%; height: 100.0%;"><stong>01660838</stong></div>`)[0];
            popup_6fb83d0619edbfcd5a6cb0d529bded9c.setContent(html_fe244bb111132e57723b18b5ee2feeba);
        

        marker_4c8262e5f23cd5e1bf9ed715dd365d1e.bindPopup(popup_6fb83d0619edbfcd5a6cb0d529bded9c)
        ;

        
    
    
            marker_4c8262e5f23cd5e1bf9ed715dd365d1e.bindTooltip(
                `<div>
                     TP-LINK_8C68
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9db03e1e3d03b0963674452b1ce8643 = L.marker(
                [56.01656611, 29.92128086],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_e1b7e0fc669316d90671490ca1f14f04 = L.popup({"maxWidth": "100%"});

        
            var html_d3b897db95bfb8edfc064c13730014ce = $(`<div id="html_d3b897db95bfb8edfc064c13730014ce" style="width: 100.0%; height: 100.0%;"><stong>egorka12345</stong></div>`)[0];
            popup_e1b7e0fc669316d90671490ca1f14f04.setContent(html_d3b897db95bfb8edfc064c13730014ce);
        

        marker_c9db03e1e3d03b0963674452b1ce8643.bindPopup(popup_e1b7e0fc669316d90671490ca1f14f04)
        ;

        
    
    
            marker_c9db03e1e3d03b0963674452b1ce8643.bindTooltip(
                `<div>
                     TP-LINK_D919CC
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_831e8413cc6e34ebc6580ccdecb9de96 = L.marker(
                [56.01572517, 29.92952613],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_cd25045e297435284697ae4464987669 = L.popup({"maxWidth": "100%"});

        
            var html_be8c00d844db16db3860acd26153bf49 = $(`<div id="html_be8c00d844db16db3860acd26153bf49" style="width: 100.0%; height: 100.0%;"><stong>123454321</stong></div>`)[0];
            popup_cd25045e297435284697ae4464987669.setContent(html_be8c00d844db16db3860acd26153bf49);
        

        marker_831e8413cc6e34ebc6580ccdecb9de96.bindPopup(popup_cd25045e297435284697ae4464987669)
        ;

        
    
    
            marker_831e8413cc6e34ebc6580ccdecb9de96.bindTooltip(
                `<div>
                     Redmi Note 9
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8412ae7589e88165f91a89367608c3fd = L.marker(
                [56.01815193, 29.92291475],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_59eab597f7f965d4094fd1977a496dbc = L.popup({"maxWidth": "100%"});

        
            var html_750134b334ff39caf1e8566a22de1c07 = $(`<div id="html_750134b334ff39caf1e8566a22de1c07" style="width: 100.0%; height: 100.0%;"><stong>01234567890</stong></div>`)[0];
            popup_59eab597f7f965d4094fd1977a496dbc.setContent(html_750134b334ff39caf1e8566a22de1c07);
        

        marker_8412ae7589e88165f91a89367608c3fd.bindPopup(popup_59eab597f7f965d4094fd1977a496dbc)
        ;

        
    
    
            marker_8412ae7589e88165f91a89367608c3fd.bindTooltip(
                `<div>
                     TP-LINK_Nadya
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02b8dc3342dd555c25735cda0f1687ce = L.marker(
                [56.01702923, 29.92262712],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_6edf087960aa2047d78ef1c2b5448f7c = L.popup({"maxWidth": "100%"});

        
            var html_7e5e776cf9a33b3c260e07edc0a589d7 = $(`<div id="html_7e5e776cf9a33b3c260e07edc0a589d7" style="width: 100.0%; height: 100.0%;"><stong>hospital59</stong></div>`)[0];
            popup_6edf087960aa2047d78ef1c2b5448f7c.setContent(html_7e5e776cf9a33b3c260e07edc0a589d7);
        

        marker_02b8dc3342dd555c25735cda0f1687ce.bindPopup(popup_6edf087960aa2047d78ef1c2b5448f7c)
        ;

        
    
    
            marker_02b8dc3342dd555c25735cda0f1687ce.bindTooltip(
                `<div>
                     TP-LINK_5819B9
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_00b2154aaa81bdec5d5bc8ac41b834e7 = L.marker(
                [56.01657546, 29.92750488],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_0b91457a070ab0038e377a0a61e65eab = L.popup({"maxWidth": "100%"});

        
            var html_2cc93ef2f6bdd3e73922eecb63133335 = $(`<div id="html_2cc93ef2f6bdd3e73922eecb63133335" style="width: 100.0%; height: 100.0%;"><stong>07512117</stong></div>`)[0];
            popup_0b91457a070ab0038e377a0a61e65eab.setContent(html_2cc93ef2f6bdd3e73922eecb63133335);
        

        marker_00b2154aaa81bdec5d5bc8ac41b834e7.bindPopup(popup_0b91457a070ab0038e377a0a61e65eab)
        ;

        
    
    
            marker_00b2154aaa81bdec5d5bc8ac41b834e7.bindTooltip(
                `<div>
                     TP-LINK_FC09E0
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e47640f635316cc141f6b38110759c47 = L.marker(
                [56.0167539, 29.91945345],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_0b1d9d019e4279ed53e7581bc65cde03 = L.popup({"maxWidth": "100%"});

        
            var html_c008ed51f5d2e948d552d27a327dafe6 = $(`<div id="html_c008ed51f5d2e948d552d27a327dafe6" style="width: 100.0%; height: 100.0%;"><stong>27121988</stong></div>`)[0];
            popup_0b1d9d019e4279ed53e7581bc65cde03.setContent(html_c008ed51f5d2e948d552d27a327dafe6);
        

        marker_e47640f635316cc141f6b38110759c47.bindPopup(popup_0b1d9d019e4279ed53e7581bc65cde03)
        ;

        
    
    
            marker_e47640f635316cc141f6b38110759c47.bindTooltip(
                `<div>
                     Tenda_2350F0
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6e3c208e1d69fb26a2fa1d6705825a43 = L.marker(
                [56.01443347, 29.92478151],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_bad88bc70a2cd739f3657479484dd2af = L.popup({"maxWidth": "100%"});

        
            var html_ac7429676e130582c792b9ce78eb57e7 = $(`<div id="html_ac7429676e130582c792b9ce78eb57e7" style="width: 100.0%; height: 100.0%;"><stong>pskovpskov</stong></div>`)[0];
            popup_bad88bc70a2cd739f3657479484dd2af.setContent(html_ac7429676e130582c792b9ce78eb57e7);
        

        marker_6e3c208e1d69fb26a2fa1d6705825a43.bindPopup(popup_bad88bc70a2cd739f3657479484dd2af)
        ;

        
    
    
            marker_6e3c208e1d69fb26a2fa1d6705825a43.bindTooltip(
                `<div>
                     Media60guest
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a96c150e48b70db2e1c0a88eed0c4636 = L.marker(
                [56.01699041, 29.92376225],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_fd495f0cc075f08b86fac2690315d444 = L.popup({"maxWidth": "100%"});

        
            var html_c90f74dde097d83ab3b8c21cba21deda = $(`<div id="html_c90f74dde097d83ab3b8c21cba21deda" style="width: 100.0%; height: 100.0%;"><stong>1234567890 or 19811979</stong></div>`)[0];
            popup_fd495f0cc075f08b86fac2690315d444.setContent(html_c90f74dde097d83ab3b8c21cba21deda);
        

        marker_a96c150e48b70db2e1c0a88eed0c4636.bindPopup(popup_fd495f0cc075f08b86fac2690315d444)
        ;

        
    
    
            marker_a96c150e48b70db2e1c0a88eed0c4636.bindTooltip(
                `<div>
                     ASUS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bdb9bc418a168c919397b5bd8a844ea = L.marker(
                [56.01592623, 29.92534076],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_cbf17b8f396e746314911ffe8f92aecc = L.popup({"maxWidth": "100%"});

        
            var html_695601564c9d868cbd1cf3fe5f4a968d = $(`<div id="html_695601564c9d868cbd1cf3fe5f4a968d" style="width: 100.0%; height: 100.0%;"><stong>qwerty12345</stong></div>`)[0];
            popup_cbf17b8f396e746314911ffe8f92aecc.setContent(html_695601564c9d868cbd1cf3fe5f4a968d);
        

        marker_3bdb9bc418a168c919397b5bd8a844ea.bindPopup(popup_cbf17b8f396e746314911ffe8f92aecc)
        ;

        
    
    
            marker_3bdb9bc418a168c919397b5bd8a844ea.bindTooltip(
                `<div>
                     DSL-2640U
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e2788709e0121a5d657ac8308436a33 = L.marker(
                [56.01725178, 29.91921829],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_e52928d9ee31c00db28e782cad85fe4c = L.popup({"maxWidth": "100%"});

        
            var html_43988fd07d638e5e3e58fd9456af04a7 = $(`<div id="html_43988fd07d638e5e3e58fd9456af04a7" style="width: 100.0%; height: 100.0%;"><stong>1234554321</stong></div>`)[0];
            popup_e52928d9ee31c00db28e782cad85fe4c.setContent(html_43988fd07d638e5e3e58fd9456af04a7);
        

        marker_2e2788709e0121a5d657ac8308436a33.bindPopup(popup_e52928d9ee31c00db28e782cad85fe4c)
        ;

        
    
    
            marker_2e2788709e0121a5d657ac8308436a33.bindTooltip(
                `<div>
                     Keenetic-3460
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ffc238e73f0947db2ab374e53479c74b = L.marker(
                [56.01940769, 29.92597433],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_9d887ef372dc754175e082fff3aa7bc4 = L.popup({"maxWidth": "100%"});

        
            var html_7aec74f8b302c709d9540aafa66271fb = $(`<div id="html_7aec74f8b302c709d9540aafa66271fb" style="width: 100.0%; height: 100.0%;"><stong>22052006</stong></div>`)[0];
            popup_9d887ef372dc754175e082fff3aa7bc4.setContent(html_7aec74f8b302c709d9540aafa66271fb);
        

        marker_ffc238e73f0947db2ab374e53479c74b.bindPopup(popup_9d887ef372dc754175e082fff3aa7bc4)
        ;

        
    
    
            marker_ffc238e73f0947db2ab374e53479c74b.bindTooltip(
                `<div>
                     Aleksandr
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0817593550d9e9b19eedb06a97577597 = L.marker(
                [56.01547799, 29.92713092],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_53ff5d99392d196935d048da1e0cbad9 = L.popup({"maxWidth": "100%"});

        
            var html_36e6379ecf9a0fe98fbbc2ca9ce1a92a = $(`<div id="html_36e6379ecf9a0fe98fbbc2ca9ce1a92a" style="width: 100.0%; height: 100.0%;"><stong>54545454</stong></div>`)[0];
            popup_53ff5d99392d196935d048da1e0cbad9.setContent(html_36e6379ecf9a0fe98fbbc2ca9ce1a92a);
        

        marker_0817593550d9e9b19eedb06a97577597.bindPopup(popup_53ff5d99392d196935d048da1e0cbad9)
        ;

        
    
    
            marker_0817593550d9e9b19eedb06a97577597.bindTooltip(
                `<div>
                     AndroidAP
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2b0b1cf7d1e800f326b1e8a5efc42491 = L.marker(
                [55.58369001, 38.19851221],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_8075b00898198f34de3ca2ebb99bfcfb = L.popup({"maxWidth": "100%"});

        
            var html_7102d7ca1094399043d181df0d41b752 = $(`<div id="html_7102d7ca1094399043d181df0d41b752" style="width: 100.0%; height: 100.0%;"><stong>71711919</stong></div>`)[0];
            popup_8075b00898198f34de3ca2ebb99bfcfb.setContent(html_7102d7ca1094399043d181df0d41b752);
        

        marker_2b0b1cf7d1e800f326b1e8a5efc42491.bindPopup(popup_8075b00898198f34de3ca2ebb99bfcfb)
        ;

        
    
    
            marker_2b0b1cf7d1e800f326b1e8a5efc42491.bindTooltip(
                `<div>
                     Tui
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_32a053a367a77ac07c3b343be34914c6 = L.marker(
                [56.01531515, 29.92957459],
                {}
            ).addTo(map_22a34d673d58a135a2a1ced22ca5a967);
        
    
        var popup_10be4ae1b1483d80f9e9ebb11c7ab914 = L.popup({"maxWidth": "100%"});

        
            var html_4c7cfa95fe561d2c82b5554cc28ca4fb = $(`<div id="html_4c7cfa95fe561d2c82b5554cc28ca4fb" style="width: 100.0%; height: 100.0%;"><stong>00118782</stong></div>`)[0];
            popup_10be4ae1b1483d80f9e9ebb11c7ab914.setContent(html_4c7cfa95fe561d2c82b5554cc28ca4fb);
        

        marker_32a053a367a77ac07c3b343be34914c6.bindPopup(popup_10be4ae1b1483d80f9e9ebb11c7ab914)
        ;

        
    
    
            marker_32a053a367a77ac07c3b343be34914c6.bindTooltip(
                `<div>
                     MegaFonMR150-6_A6A9
                 </div>`,
                {"sticky": true}
            );
        
</script>